# Archivos de Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Entornos virtuales
venv/
ENV/

# Archivos de datos
data/
*.db
*.sqlite
*.csv

# Logs
*.log

# Archivos de configuración local
.env

# Archivos de IDE
.idea/
.vscode/
*.swp
*.swo